*{
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: #346651;
    color: white;
    display: block;
    justify-content: space-around;
    padding: 26px0; 
}

.cabecalho-lista-item{
    font-size: 200%;
    display: flex;
    align-items: center;
    padding: 26px0;
}

.cabecalho-imagem {
    width: 50%;
}


.eu-imagem-um{
    width: 12%;
}


.eu{
    background-image: -moz-linear-gradient(#346651, #1A1414);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px0;
}

.div-eu-conteudo{
    width: 50%;
}